*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
}
.header{
    width: 100%;
    height: 80px;
    background-color: rgb(2, 29, 29);
    display: flex;
    
}
.header .header-left{
    width: 30%;
    height: 80px;
    
}
.header .header-left h1{
    width: 30%;
    height: 80px;
    line-height: 80px;
    position:absolute;
    justify-content: center;
    text-align: center;
    color: rgb(214, 210, 210);
    font-weight: bold;
}
.header .header-left h1 .c{
    color: red;
}
.header .header-left h1 .s{
    color: rgb(21, 212, 21);
}
.header .header-left h1 .a{
    color: rgb(76, 76, 230);
}
.header .header-right{
    width: 70%;
    height: 80px;
}
.menu{
    width: 100%;
    height: 80px;
    position: relative;
    
}
.menu ul{
    position: absolute;
    left: 140px;
    display: flex;
    line-height: 80px;
    
}
.menu ul li{
    list-style: none;
    display: block;
    padding: 0px 10px 0px 10px;
    
}
.menu ul li a{
    color: rgb(214, 210, 210);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}
.menu ul li a:hover{
    color: rgb(255, 255, 255);
    border-top: 1px solid rgb(179, 5, 5);
    border-bottom: 1px solid rgb(179, 5, 5);
    transition: 0.8s;
}

@media only screen and (max-width: 416px){
    body{
        background-color: red;
        overflow: hidden;
    }
}